
#page-landing{
    background: #8257E5;
}

#page-landing #corpo{
    color:  #D4C2FF;
}
.logo-corpo img{
    height: 10rem;
}
.logo-corpo{
    text-align: center;
    margin-bottom: 3.2rem;
}
.logo-corpo h2{
    font-weight: 500; /*Deixar o texto mais leve*/
    font-size: 3.6rem;
    line-height: 4.6rem; /*Altura de linha do texto*/
    margin-top: 0.8rem;
}
.hero-image{
    width: 100%;
}

.buttons-corpo{
    display: flex;
    justify-content: center;
    margin:3.2rem 0;
}

.buttons-corpo a{
    width: 30rem;
    height: 10.4rem;
    border-radius: 0.8rem ;
    font: 800 2.4rem Arquivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; /*remover o undeline*/
    color: #FFFFFF;
    transition: background 0.2;
}
.buttons-corpo a img{
    width: 4rem;
    margin-right: 2.4rem; /*separar a imagem dos botoes*/
}
.buttons-corpo a.study:hover{
    background: #916BEA;
}
.buttons-corpo a.give-classes:hover{
    background: #04BF58;
}
.buttons-corpo a.study{
    background: #9871F5;
}
.buttons-corpo a.give-classes{
    background: #04D361;
    margin-right: 0;
}

.conexoes{
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conexoes img{
    margin-left: 0.8rem;
}
@media(max-width: 699px){
    :root{
        font-size: 40%;
    }
}
@media(min-width: 1100px){
    #page-landing #corpo{
    max-width: 1100px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 350px 1fr;
    grid-template-areas:
    "proffy image image"
    "button button  texting";
    column-gap: 87px;
    row-gap: 86px;
    }
    .logo-corpo{
        grid-area: proffy;
        text-align: initial;
        align-self: center;
        margin: 0;
    }
    .logo-corpo a{
        height: 127px;
    }
    .hero-image{
        grid-area: image;
        height: 350px;
    }
    .buttons-corpo{
        grid-area: button;
        justify-content: flex-start; /*Coloca no inicio do conteudo flex*/
        margin: 0;
    }
    .conexoes{
        grid-area: texting;
        justify-self: end;
        font-size: 1.2rem;
    }


}
